<div class="container">
  <form>

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-fluid ui-g-12">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="ui-fluid ui-g-12 ui-md-9">
        <label>Logradouro</label>
        <input pInputText type="text">
      </div>

      <div class="ui-fluid ui-g-12 ui-md-3">
        <label>Número</label>
        <input pInputText type="text">
      </div>

      <div class="ui-fluid ui-g-12 ui-md-4">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-fluid ui-g-12 ui-md-4">
        <label>Bairro</label>
        <input pInputText type="text">
      </div>

      <div class="ui-fluid ui-g-12 ui-md-4">
        <label>CEP</label>
        <p-inputMask mask="99.999-999"></p-inputMask>
      </div>

      <div class="ui-fluid ui-g-12 ui-md-6">
        <label>Cidade</label>
        <input pInputText type="text">
      </div>

      <div class="ui-fluid ui-g-12 ui-md-6">
        <label>Estado</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>